*.o
*.info
*.info-[0-9]*
version.texi
Makefile
Makefile.in
.deps
.libs
autom4te.cache
config.sub
config.guess
config.status
config.log
config.h
guile-readline-config.h
*.doc
*.x
*.lo
*.la
aclocal.m4
libtool
ltmain.sh
configure
depcomp
elisp-comp
missing
mdate-sh
install-sh
texinfo.tex
*~
,*
BUGS
Makefile
Makefile.in
aclocal.m4
autom4te.cache
benchmark-guile
check-guile
check-guile.log
compile
confdefs.h
config.build-subdirs
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
conftest
conftest.c
depcomp
elisp-comp
guile-*.tar.gz
guile-tools
install-sh
libtool
ltconfig
ltmain.sh
mdate-sh
missing
mkinstalldirs
pre-inst-guile
pre-inst-guile-env
stamp-h1
guile-procedures.txt
guile-config/guile-config
guile-readline/guile-readline-config.h
guile-readline/guile-readline-config.h.in
TAGS
guile-1.8.pc
libguile/stack-limit-calibration.scm
cscope.out
cscope.files
*.log
