c-tokenize.c
cpp-E.c
cpp-SIG.c
gen-scmconfig
gen-scmconfig.h
guile
guile-func-name-check
guile-procedures.texi
guile-snarf
guile-snarf-docs
guile_filter_doc_snarfage
libpath.h
scmconfig.h
version.h
vm-i-*.i
*.NEW
